.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

@media (max-width: 500px) {
  #flyer {
    width: 300px;
  }
}

@media (min-width: 400px) {
  #jumbo {
    max-width: none;
  }
}

#jumbo {
}

@media (min-width: 1000px) {
  footer {
    padding-top: 0;
    margin-top: 0;
  }
}

@media (min-width: 300px) {
  p {
    font-size: 16px;
    line-height: 30pxpx;
    /*word-wrap: break-word;*/
  }
}

.navbar.navbar-light.navbar-expand-md.fixed-top {
  border-radius: 0px;
}

@media (min-width: 300px) {
  #topImage {
    max-height: 100px;
  }
}

@media (min-width: 550px) {
  #topImage {
    max-height: none;
  }
}

.btn.btn-primary {
}

.btn.btn-primary.newClass {
}

@media (min-width: 400px) {
  .snip1527 {
    margin-left: 30px;
  }
}

@media (min-width: 576px) {
  .snip1527 {
    margin-left: 0;
  }
}

@media (min-width: 350px) {
  #mainBlock {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 330px) {
  #secondBlock {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#toc {
  padding-left: 40px;
  padding-right: 30px;
}

.links2 {
  text-decoration: underline;
}

